
:root {
    --background: #f5f5f5;
    --black: #000;
    --red: #e66a6a;
    --blue: #3c5686;
    --yellow: rgb(255, 215, 0);
    --star: #f0ad4e;
}

:focus {
    outline: transparent;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: 0;
}

@media (max-width: 720px){
    html {
        font-size: 87.5%; 
    }
}

@media (max-width: 1080px){
    html {
        font-size: 93.75%; 
    }
}

body {
    background-color:  var(--black);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    --webkit-font-smoothing: antialiased;
}

.page1 {
    width: 100%;
    height: 100vh;
    background-image: url(imagepage1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.page1 div {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 4px;
    box-shadow: 0 0 30px var(--red);
}

.page1 a {
    color: var(--background);
    font-size: 1rem;
    animation: audio 1s ease-in-out forwards infinite;
}   

.page1 h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: var(--background);
    opacity: 0;
    animation: h1page1 1s ease-in-out forwards;
}

.page1 p {
    color: var(--background);
    margin-bottom: 5px;
}

@keyframes h1page1 {
    0% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
}

@keyframes audio {
    0% {
      transform: scale(1.5);
    }
    
    100% {
        transform: scale(1);
    }
}

.page1 #lottie {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header {
    background-color:  var(--black);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleHeader {
    color:  var(--background);
    padding: 0px 8px;
}

.spanHeader {
    color: var(--red);
}

.edition-especial {
    text-align: center;
    background-color: var(--yellow);
    width: 10rem;
    margin: auto;
    padding: 4px;
    font-weight: bolder;
    box-shadow: 1px 1px 1px #00000080;
}

.section-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    margin-bottom: 5rem;
    color: var(--background);
}

.content-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.section-1 img {
    width: 10rem;
    height: 15rem;
    align-self: flex-start;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
}

.content-image i {
    color: var(--yellow);
    font-size: 1rem;
}

.content-image i.big {
    font-size: 2rem;
}

.section-1 .content-image p {
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--background);
    font-size: 1rem;
    line-height: 1.5rem;
}

.content-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 17rem;
    
}

.content-icons div {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.content-icons i {
    color: var(--background);
}

.content-icons span {
    color: var(--background);
    font-size: 0.75rem;
    margin-top: 10px;
    font-weight: 600;
}

.section-1 .content-section-1 {
    width: 60%;
}

.section-1 h2 {
    font-size: 1.5rem;
    text-align: center;
}

.section-1 h2 span {
    color: var(--yellow)
}

.section-1 p {
    margin-top: 1rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 400;
    text-align: justify;
}

.price-section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: justify;
}

.price-section1 p {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.price-section1 .price-anterior {
    font-size: 1rem;
    font-weight: bold;   
}

.price-section1 .price-actual {
    font-size: 1.5rem;
    background-color: var(--yellow);
    padding: 5px;
    border-radius: 10px;
    color: var(--black);
    font-weight: bold;
}

.price-section1 .promocao {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    background-color: var(--background);
    padding: 0 10px;
    border-radius: 5px;
}

.shop {
    text-decoration: none;
    background-color: var(--black);
    padding: 4px 20px;
    height: 2.5rem;
    color: #FFF;
    border-radius: 10px;
    text-transform: uppercase;
    box-shadow: 0 0 20px var(--yellow);
    margin-top: 10px;
    font-weight: bold;
    transition: transform 0.4s;
    display: flex;
    align-items: center;
    animation: shop 2s ease-in-out infinite;
}

@keyframes shop {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.section-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    color: var(--background);
}

.contentSection2{
    width: 80%;
    margin: 0 auto;
}

.section2 h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    color: var(--background);
}

.section2 h3 span {
    color: var(--yellow);
    font-weight: bold;
}

.section2 p {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    margin: 4px 0;
    opacity: 0.8;
    color: var(--background);
    font-weight: bold;
    margin-bottom: 20px;
}

.box-dorama {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.dorama {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    position: relative;
}

.dorama img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    filter: brightness(30%);
    z-index: 100;
}

.dorama img:hover {
    filter: brightness(100%);
}

.description-dorama {
    padding: 10px;
    color: var(--background);
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description-dorama h4 {
    font-size: 1.5rem;
}

.description-dorama p {
    width: 80%;
    font-size: 1rem;
    color: var(--background);
    text-align: justify;
}

#selo-garantia {
    margin-top: 10px;
    height: 50px;
    width: 400px;
}

.content-section-4 {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-section-4 p {
    color: var(--background);
    background-color: red;
    padding: 5px;
    border-radius: 5px;
}

.content-section-4 #countdown {
    width: 300px;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--background);
    font-weight: bolder;
    font-size: 1rem;
    border: solid 1px var(--yellow);

    animation: backgroundAnimation 0.2s infinite alternate;
}

@keyframes backgroundAnimation {
    0% {
    border-color: var(--yellow); /* Branco */
    }
    100% {
    border-color: var(--black); /* Branco */
    }
}

.section4 {
    margin: 2rem auto;
    margin-bottom: 4rem;
    width: 60%;
    background-color: #dedede;
    min-height: 15.625rem;
    color: var(--background);
    padding: 1rem;
}

.section4 div {
    background-color: var(--background);
    margin-bottom: 4px;
    color: #000;
    padding: 5px;
}

.section4 div p span {
    color: green;
    font-weight: bold;
}


.section-6 {
    width: 100%;
    height: 80vh;
    color: var(--background);
}
.box-section-6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.section-6  img {
    width: 30%;
    height: 350px;
    box-shadow: 0 0 10px var(--background);
}

.content-section-6 {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.content-section-6 h4 {
    color: var(--background);
    font-size: 1.5rem;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 5px;
}

.items-section-6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}


.items-section-6 i {
    color: var(--yellow);
    margin-right: 5px;
}

.items-section-6 p {
    font-weight: bold;
    font-size: 1rem;
}



footer {
    background-color: #5e525241;
    width: 100%;
    min-height: 150px;
    padding: 10px;
    display: flex;
    align-items: center;
    color: var(--background);
}

.container-footer {
    width: 60%;
    height: 100px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}



footer img {
    width: 150px;
}